* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
}
.masterHeader {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1001;
    top: 0;
    width: 100%;
}
.blackHeader {
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    font-size: small;
    padding: 7px;
}

.blueHeader {
    background-color: blue;
    color: black;
    padding: 7px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.logoImg {
    max-width: 40%;
    transform: translateY(10%);
    min-width: 100px;
}

.navBarOptions {
   display: flex;
   list-style-type: none;
   min-width: fit-content;
   gap: 10px;
    
}


.navButton {
    color: black;
    font-size: small;
    text-decoration: none;

    
}
.hero {
    /*display: flex;*/
    background-image: 
    url(images/cleanHouseLandscape.jpg); 
    background-size: cover;
    background-position: center;
    margin-top: 60px;
    height: 300px;
    width: 100%;

}
/*
.heroText {
   

}
*/

#servicesLabel {
    text-align: center;
    
}

.headerText {
    text-decoration: none;
    color: white;
}

h3 {
    text-align: center;
}

.masterGrid {
    display: grid;
    gap: 50px;

}

.tile {
    display: grid;
    padding: 10px;
    gap: 10px;
    justify-content: center;
    align-content: center;

}

.tile-item-1 {
    display: block;
    grid-column: 1 / span 2;
    text-align: center;
    
}

.tile-item {
    border-radius: 10% 10% 10% 10%;
    max-width: 200px;
    height: auto;
    object-fit: scale-down;
}

.separation {
    background-color: gray;
    padding: 30px;
    z-index: 1000;
    position: sticky;
    top: 1;
    
}

.rating {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

h5 {
    padding: 10px;
}

.paragraph {
    padding: 5px;
}


.footer {
    display: flex;
    justify-content: center;
}

.centeredImage {
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 600px)  {
    
   
    .blackHeader {
        font-size: x-large;
        padding: 7px;
    }
    
    .blueHeader {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        object-fit: scale-down;
    
    }
    
    .logoImg {
        max-width: 100%;

    }
    
    .navBarOptions {
        display: flex;

        gap: 20px;
        margin-right: 10px;
        
    }
    
    
    .navButton {
        color: black;
        font-weight: bold;
        font-size: x-large;
        text-decoration: none;
    
        
    }


    .masterGrid {
    display: flex;
        justify-content: center;
    gap: 50px;

}


.tile-item-1 {
    display: block;
    grid-column: 1 / span 2;
    text-align: center;
    
}

.tile-item {
    border-radius: 10% 10% 10% 10%;
    max-width: 200px;
    height: auto;
}

.centeredImage {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

}